body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
;
    /* border: 1px solid black; */
    
}
.dashboard{

    background-color: rgb(229, 18, 88);
    color: white;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.26);
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all .3s linear;
    font-weight: bold;
}
.dashboard span{
    color: yellow;
    font-weight: bold;
    font-size: 30px;
}
.boxs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.boxs div{
    background-color:rgb(229, 18, 88) ;
    width: calc((100% - 20px) /3);
    height: 50px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    transition: all .2s linear;
    font-weight: bold;
}
.boxs div:hover{
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .container {
      width: 350px;
    }
  }
  